html, body 
{
    margin: 0;
    height: 100%;
    border: none;
}

* {
    border: 1px solid black;
}

.header-container, .section-container, .hero-image
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header>div, .section-one>div, .section-two>div
{
    flex: 1;
}

.header-container 
{
    height: 72px;
}

.section-container 
{
    height: 500px;
}

.header, .section-one, .section-two
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.links
{
    display: flex;
    justify-content: flex-end;
}

a 
{
    margin-left: 20px;
}

h1 
{
    margin-top: 0px;
}

.hero>*
{
    margin-right: 20px;
}

.section-two, .item
{
    display: flex;
    flex-direction: column;
}

.items
{
    display: flex;
    justify-content: space-evenly;
}

.section-two > h1, .item > p
{
    text-align: center;
    padding-bottom: 20px;
}

.item-image
{
    height: 175px;
}

.item-image, .item > p
{
    width: 175px;
}
