html, body 
{
    margin: 0;
    height: 100%;
    border: none;
}

* {
    border: 1px solid black;
}

.header-container, .section-container, .hero-image
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header>div, .section-one>div
{
    flex: 1;
}

.header-container 
{
    height: 72px;
}

.section-container 
{
    height: 450px;
}

.header, .section-one , .section-two
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.links
{
    display: flex;
    justify-content: flex-end;
}

a 
{
    margin-left: 20px;
}

h1 
{
    margin-top: 0px;
}

.hero>*
{
    margin-right: 20px;
}

.section-two 
{
    flex-direction: column;
    align-items: center;
}

