html, body 
{
    margin: 0;
    height: 100%;
}

.header-container 
{
    border: 1px solid black;
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header, .section-one 
{
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.links, .hero-image
{
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.link 
{
    margin-left: 20px;
}

.section-container 
{
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.hero-image
{
    justify-content: center;
    align-items: center;
}

